:root {
    --bg-color--: #f3ed85;
    --hi-light--: #ffa910;
    --contrast--: #4d698c;
    --shading---: #94d2ee;
    --alt-cont--: #e45f5f;
}

body {
    background-color: var(--bg-color--);
}

.nbcust,
.nbcust a,
.nbcust span {
    background-color: var(--alt-cont--) !important;
    color: white!important;
    font-weight: 700;
}

span.weather-desc {
    text-transform: capitalize;
}

div.weather-wrap {
    text-align: center;
    padding-top: 0;
}

div#location-header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 2rem;
}

.location-icon i {
    color: var(--contrast--);
    padding-right: 1rem;
}

div.index-wrap {
    background-color: var(--shading---);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
}

span.index-temp {
    color: var(--alt-cont--);
}